body {
    background-color: lightgrey;
}

h1 {
    color: blue;
	font-family: comic sans ms,cursive;
}

h3 {
    color: black;
	font-family: georgia,serif;
}

p {
    color: black;
	font-family:comic sans ms,cursive;
}

table, th, td {
    border: 2px solid black;
}
th, td {
    padding: 15px;
}

a {
    color: red;
	font-family:georgia,serif;
}